@*@model IEnumerable<SSDI_SPILELApplication.Models.StoryModel>*@
@model SSDI_SPILELApplication.Models.BrowseStoryModel

@{
    ViewBag.Title = "Browse Creator Stories";
}
<head>
    <script src="~/Scripts/angular.min.js"></script>
</head>
@using (Html.BeginForm("FilterCreatorStories", "Home", FormMethod.Post))
{
    <body>
        <div ng-app="BrowseCreatorStories" ng-controller="BrowseStoryController">
            <form id="BrowseStories" name="BrowseStories">
                <table class="table">
                    <tr>
                        <td style="text-align:center">
                            <h4>
                                My Stories
                            </h4>
                        </td>
                    </tr>
                </table>



                <table class=" table table-striped table-hover">

                    <tr>
                        <th style="text-align:center">Serial No.</th>
                        <th style="text-align:center">Story Title</th>
                        <th style="text-align:center">Story Content</th>
                        <th style="text-align:center"></th>
                    </tr>

                    @for (int i = 0; i < Model.Stories.Count; i++) {
                        <tr>
                            <td style="text-align:left">
                                @{var serialnum = i + 1;}
                                <label>@serialnum.</label>
                            </td>
                            <td style="text-align:left">
                                <div style="text-align:center; overflow:auto; min-width:250px; max-height:50px;">
                                    @Html.DisplayFor(modelItem => Model.Stories[i].Title)
                                </div>
                            </td>

                            <td style="text-align:center; overflow:auto">
                                <div style="text-align:center; overflow:auto; max-height:50px;">
                                    @Html.DisplayFor(modelItem => Model.Stories[i].Content)
                                </div>
                            </td>
                            <td style="text-align: right">
                                <input type="button" class="btn" style="width: 150px" value="Review Contributions" onclick="window.location.href = '@Url.Action("ApproveContributedStories", "Home", new {storyID = Model.Stories[i].StoryID})'" />
                                <input type="button" class="btn" style="width: 150px; margin-top: 2px" value="Review Suggestions" onclick="window.location.href = '@Url.Action("BrowseSuggestions", "Home", new {storyID = Model.Stories[i].StoryID})'" />
                            </td>
                        </tr>
                    }
                </table>
            </form>
        </div>
    </body>
}





