@using Microsoft.AspNet.Identity
@using SSDI_SPILELApplication.Controllers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (!AccountController.ShowLogOff)
        {
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }
        <li>
            @if (AccountController.ShowLogOff)
            {
                <table>
                    <tr>
                        <td style="color:white;"><h5>Welcome @Session["username"]</h5></td>
                        <td style="min-width:20px;"></td>
                        <td>@Html.ActionLink("Log off", "Index", "Home", routeValues: null, htmlAttributes: new { id = "logoffLink" })</td>
                    </tr>
                </table>
            }
            else
            {
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
            }
        </li>
    </ul>
}
