@model SSDI_SPILELApplication.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/VerifyEmail.js"></script>
</head>



<div class="row" ng-app="verifyEmail">
    <section id="verifyEmailForm">
        <div class="col-md-8" ng-controller="verifyEmailController">

            <form class="form-horizontal" name="formverifyemail" ng-submit="submitForm(formverifyemail.$valid)">
                <h4>Enter your registered Email Address.</h4>
                <hr />

                <div class="form-group" ng-class="{ 'has-error' : formverifyemail.Email.$invalid && !formverifyemail.Email.$pristine }">
                    <label id="lblEmail" style="margin-top: 0px; min-width:150px" title="Email" class="col-md-2 control-label">
                        Email-Address
                    </label>

                    <div class="col-md-10">
                        <input type="email" style="margin-left: 150px; margin-top: -25px" name="txtEmailAddress" id="verifyEmailaddress" ng-model="mydata.Email" class="form-control input-sm" placeholder="Email address" required />
                    </div>
                    <p ng-cloak ng-show="formverifyemail.Email.$invalid && !formverifyemail.Email.$pristine" class="help-block">Email is required.</p>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" style="margin-left: 50px" value="Verify Email" ng-disabled="formverifyemail.$invalid" class="btn btn-default" />
                    </div>
                </div>
                <div class="form-group">
                <div class="col-md-10">
                    <label ng-model="mydata.MessageString" ng-bind="MessageString"></label>
                </div>
                    </div>
                </form>
            </div>
        </section>
    </div>






















                @*@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Enter your email.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Submit" />
                        </div>
                    </div>}

                @section Scripts {*@
                    @Scripts.Render("~/bundles/jqueryval")
                